*.o
*.dSYM
*.csv
*.out
*.png
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
/jnet19.weights
/extraction.weights
/jnet19_448.weights
/tiny-yolo-voc.weights
/yolo.weights
/tiny-yolo.weights
